{% extends 'base.html' %}

{% block title %}Le blog{% endblock %}

{% block body %}
    <h1>Welcome Dude</h1>

    <a href="{% url 'add_article' %}">Ajouter un article</a>

    {% for article in articles %}
        <div class="article">
            <h3>{{ article.titre }}</h3>
            <p>{{ article.contenu|truncatewords_html:80 }}</p>
            <p><a href="{% url 'show_article' article.id article.slug %}">Lire la suite</a></p>
        </div>
    {% empty %}
        <p>Aucun Article</p>
    {% endfor %}

    <h3>Catégories disponibles</h3>

    {% for category in categories %}
        <li><a href="{% url 'show_by_category' category.id %}">{{ category.nom }}</a></li>
    {% endfor %}

    {% if is_paginated %}
        <div class="pagination">
           {% if page_obj.has_previous %}
               <a href="?page={{ page_obj.previous_page_number }}">Précédente</a> —
           {% endif %}
           Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}
           {% if page_obj.has_next %}
              — <a href="?page={{ page_obj.next_page_number }}">Suivante</a>
           {% endif %}
        </div>
    {% endif %}

    {% print %}

    <em><a href="{% url 'date' %}">Afficher la date actuelle</a></em>
{% endblock %}
